.tech {
  background-color: #f3f3f3;
  padding-top: 80px;
  padding-bottom: 80px;
}

.work {
  font-size: 40px;
  text-align: center;
  color: black;
  font-weight: bold;
  padding-bottom: 10px;
}

.analpost {
  display: flex;
  border-bottom: 1px solid #707070;
  padding-bottom: 1%;
  margin-top: 5%;
  justify-content: space-between;
}
.tech {
  position: relative;
}

.analpost .new1 {
  font-size: 18px;
  cursor: pointer;
  color: black;
  opacity: 0.5;
}
.analpost div {
  padding-left: 30px;
  padding-right: 50px;
}
.analpost .active {
  color: black;
  font-size: 20px;
}

.active {
  position: relative;
}

.active::before {
  position: absolute;
  content: "";
  background-color: #f32f53;
  width: auto;
  height: 4px;
  bottom: -44%;
  left: 0;
  right: 0;
  border-radius: 50px;
}

.stook {
  color: black;
  font-weight: 700;
  font-size: 35px;
}
.colpont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.newyork p {
  font-size: 16px;
  color: black;
}

.buld {
  width: 220px;
  height: 45px;
  background-color: #f32f53;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

@media screen and (min-width: 1400px) {
  .active:before {
    bottom: -54%;
  }
  .york p {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media screen and (max-width: 1200px) {
  .tech {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 991px) {
  .tech {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .analpost select {
    width: 80%;
    height: 50px;
    padding: 0 20px;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    background-color: #000;
    border: 1px solid #909090;
    margin: 0 auto;
  }
  .active::before {
    bottom: -67%;
  }

  .work {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .analpost select {
    width: 100%;
    font-size: 20px;
  }

  .analpost div {
    color: #707070;
    font-size: 13px;
    cursor: pointer;
  }

  .newyork {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px 45px;
    align-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .work {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: black;
    font-weight: bold;
  }

  .tech {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 480px) {
  .analpost div {
    color: #707070;
    font-size: 11px;
    cursor: pointer;
  }
  .work {
    margin-top: 5%;
    padding-bottom: 5%;
  }
}
